<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <img src="assets/i/main-banner.png" />
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>BC Delivers NPM at XPO</h2>
            <p>Looking to create a single solution component library for all enterprise internal websites, XPO turned to the experts at BC to find a solution that would allow them to easily manage and deliver a single point component library to there developers,
                Leveraging Angular 4, NPM and googles Material 2 BC Architects architected, developed and delivered an NPM library that can be managed through a custom builder to allow a team to build and compile a cutting edge node module library with
                custom components built for there own sites. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>BC Delivers Mobile at BOA</h2>
            <p> Looking for a next generation solution BOA turned to the solutions experts at BC to build a next generation prototype for there online banking solution, Leveraging Angular 2 and Cordova BC build and architectured a flagship prototype that
                will be used to build out the next generation of BOA mobile solutions </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>WebWorld needed to update there server and wanted to update it to a mongo system running a javascript serverside system, turning to the experts at BaylyConsulting We were able to deliver a high powered backend developed fully in express and
                GO</h2>
            <p> </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>